--- 
 // site layout 
  import SiteLayout from "../layouts/Site.astro"; 
   
   // imports 
   import Section from "../components/ui/Section.astro"
   ---
<SiteLayout title="About Us">
<div class="my-2">
<Section heading="About" highlight="Us">
<div class="mx-2 px-2">
<p>TODO</p>
</div>
</Section>
</div>
</SiteLayout>
