---

---
<div class="flex flex-col justify-center items-center max-w-sm mx-auto my-8">
  <div
         class="bg-gray-300 overflow-hidden h-auto border border-indigo-700 w-full rounded-lg shadow-md bg-cover bg-center"><img class="object-contain" alt="blogpost" src="/banner.png" /></div>

           <div class="w-56 border-2 border-indigo-700 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
               <div class="py-2 text-center from-indigo-600 via-indigo-500  to-indigo-700 bg-gradient-to-r  font-bold uppercase tracking-wide text-black">TODO </div>
                   <div class="flex items-center justify-between py-2 px-3 bg-[#141414]">
                         <h3 class="text-white/80">2 mins </h3>
                               <button class=" bg-gradient-to-r from-indigo-800 to-indigo-700 hover:scale-110 ease-in-out transition text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Read Now </button>
                                   </div>
                                     </div>
                                     </div>
