---
// imports
import FeatureCard from "../cards/Feature.astro";
import Section from "../ui/Section.astro";

// import icons
import WebsiteIcon from "../../icons/Cursor.astro";
import BotIcon from "../../icons/Smile.astro";
import GlobalIcon from "../../icons/Globe.astro";
import ServerIcon from "../../icons/Server.astro";
// type
type FeatureProps = {
  title: string;
  icon: any;
  description: string;
};

// features list
const featuresList: Array<FeatureProps> = [
  {
    title: "Website Development",
    description: "We will develop amazing sites for you",
    icon: WebsiteIcon,
  },
  {
    title: "Bot Development",
    description: "We can create multi-plattform and social media bots",
    icon: BotIcon,
  },
  {
    title: "Global",
    description: "We are available globally around world",
    icon: GlobalIcon,
  },
  {
    title: "Server Management",
    description: "Can manage your servers efficiently ",
    icon: ServerIcon,
  },
];
---

<Section id="features" heading="Our" highlight="Powers">
  <div class="mx-5 grid grid-cols-1 md:grid-cols-2 gap-4">
    {featuresList.map((feature) => <FeatureCard {...feature} />)}
  </div>
</Section>
