---
// scroll down icon
import IScrollDown from "../../icons/Scrolldown.astro";
---

<section class="h-screen text-center">
  <div class="flex flex-col mx-auto max-w-3xl justify-between py-40">
    <div>
      <h1 class="text-center font-semibold md:text-7xl text-5xl">
        Making Tech
        <span
          class="font-extrabold text-transparent md:text-7xl text-6xl bg-clip-text bg-gradient-to-tl from-indigo-900 via-indigo-500 to-indigo-700"
        >
          Work
        </span>for you
      </h1>
      <p
        class="text-center mt-2 md:mt-3 md:text-lg text-sm font-normal text-white/80 tracking-wider"
      >
        Apptic Development is a small development company that specializes in
        creating custom solutions for Discord communities. Our services include
        Discord bot development, website development, and tailored packages to
        meet your unique needs. Contact us today to see how we can help your
        community thrive!
      </p>
    </div>

    <div
      class="flex align-center mx-auto place-items-center mt-5 animate-bounce duration-300"
    >
      <a href="#heroHr" class="mt-5">
        <IScrollDown />
      </a>
    </div>
  </div>

  <hr id="heroHr" class="h-px my-8 bg-[#141414] brightness-150 mx-7 border-0" />
</section>
