<section
  class="group select-none hover:text-white transition ease-in-out tbg-transparent border-t border-white/20 w-full text-white/50 py-6"
>
  <div class="container mx-auto">
    <p class="text-center">
      &copy; {new Date().getFullYear()} Apptic Development
    </p>
  </div>
</section>
