<nav
  class="flex backdrop-blur-sm place-items-center justify-between fixed p-4 h-16 w-full align-middle items-center border-b border-white/20 py-2 top-0 bg-black/80 z-50 shadow-md"
>
  <div class="flex h-full">
    <a href="/">
      <img alt="Logo" src="/logo.svg" class="invert h-14 w-14" />
    </a>
  </div>
  <div class="gap-x-7 text-right flex text-gray-300 overflow-x-scroll">
    <a
      class="hover:underline hover:text-white ease-in-out transition"
      href="/blog">Blog</a
    >
    <a
      class="hover:underline hover:text-white ease-in-out transition"
      href="/#contact">Contact</a
    >
  </div>
</nav>
